@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --background-color-primary: #595800;
  --background-color-secondary: #b54d10;
  --background-color-secondary-hover: #923d0c;

  --background-white-primary: #fcf9f2;
  --background-white-secondary: #f5f1eb;

  --text-primary: #291f17;
  --text-secondary: #fcf9f2;
  --text-2: #ede9dd;
  --text-3: #6b6057;

  --shadow: rgba(0, 0, 0, 0.3);
}

/* Header */

header {
  background-color: var(--background-white-primary);
  position: sticky;
  top: 0;
  animation: enhance-header linear both;
  animation-timeline: scroll(root block);
  animation-range: 0 200px;
  z-index: 10;
  .navbar {
    .container-fluid {
      .navbar-brand {
        img {
          width: 2rem;
        }

        h2 {
          font-family: "Raleway", sans-serif;
        }
      }
    }

    .nav-pills {
      gap: 1rem;

      .nav-item {
        .active {
          background-color: var(--background-color-primary);
          color: var(--text-2);
        }

        .nav-link {
          font-family: "Open Sans", sans-serif;
          transition: 0.3s ease-in-out;

          &:hover {
            background-color: var(--background-color-secondary);
            color: var(--text-2);
          }
        }
      }
    }
  }
}

@keyframes enhance-header {
  100% {
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(5px);
    color: black;
  }
}

/* Main */

/* Hero */

.hero {
  background-image: linear-gradient(
      rgba(59, 100, 18, 0.75),
      rgba(59, 100, 18, 0.75)
    ),
    url("../src/img/hero/baner.webp");
  background-position: center;
  background-size: cover;
  height: 40rem;
  position: relative;

  h1 {
    font-family: "Raleway", sans-serif;
    color: var(--text-secondary);
    font-size: 4rem;
    text-wrap: balance;
  }

  p {
    font-family: "Open Sans", sans-serif;
    color: var(--text-secondary);
  }

  .hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .text-center {
      .boton-1 {
        background-color: var(--background-color-secondary);
        border: 1px solid var(--background-color-secondary);
        transition: 0.3s ease-in-out;

        &:hover {
          background-color: var(--background-color-secondary-hover);
        }
      }

      .boton-2 {
        background: rgba(255, 255, 255, 0.15);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(2.9px);
        -webkit-backdrop-filter: blur(2.9px);
        border: 1px solid rgba(255, 255, 255, 0.62);
        transition: 0.3s ease-in-out;

        &:hover {
          background: rgba(255, 255, 255, 0.34);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          backdrop-filter: blur(3.9px);
          -webkit-backdrop-filter: blur(3.9px);
          border: 1px solid rgba(255, 255, 255, 0.62);
        }
      }
    }
  }
}

/* Hero móvil */

@media screen and (max-width: 430px) {
  .hero {
    height: 60rem;

    h1 {
      font-size: 3rem;
    }

    .hero-text {
      .text-center {
        width: 90%;
        gap: 1rem;
      }
    }
  }
}

/* Hero tablet */

@media screen and (min-width: 431px) and (max-width: 824px) {
  .hero {
    height: 50rem;
  }
}

/* Section 2 */

.section-2 {
  background-color: var(--background-white-primary);
  .container-section-2 {
    width: 70%;
    margin: auto;

    h2 {
      font-family: "Raleway", sans-serif;
    }

    p {
      font-family: "Open Sans", sans-serif;
      color: var(--text-3);
    }

    .bento-grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(3, 1fr);
      margin-top: 3rem;
      gap: 1rem;

      .rex {
        grid-column: 1/3;
        grid-row: 1/3;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1rem;
        border: 0.125rem solid var(--background-color-primary);
        border-radius: 0.6rem;

        background: linear-gradient(
            rgba(120, 128, 68, 0.75),
            rgba(120, 128, 68, 0.75)
          ),
          url("../src/img/bento/rex.webp");
        background-size: cover;
        background-position: top;

        .container-card-text {
          h3 {
            font-family: "Raleway", sans-serif;
            font-size: 2.5rem;
            margin-bottom: 1rem;
            color: var(--text-secondary);
            display: block;
          }

          p {
            font-family: "Open Sans", sans-serif;
            font-size: 1.21rem;
            color: var(--text-secondary);
            line-height: 1.4;

            opacity: 0;
            transition: 0.3s ease-in-out;
          }
        }

        .container-especie {
          display: flex;
          gap: 0.5rem;

          opacity: 0;
          transition: 0.3s ease-in-out;

          span {
            font-family: "Roboto", sans-serif;
            color: var(--text-secondary);
            padding: 0.3rem 0.6rem;
            background: rgba(255, 255, 255, 0.28);
            border-radius: 16px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(3.7px);
            -webkit-backdrop-filter: blur(3.7px);
            border: 1px solid rgba(255, 255, 255, 0.3);
          }
        }

        &:hover {
          .container-card-text {
            p {
              opacity: 1;
            }
          }

          .container-especie {
            display: flex;
            gap: 0.5rem;
            opacity: 1;

            span {
              font-family: "Roboto", sans-serif;
              color: var(--text-secondary);
              padding: 0.3rem 0.6rem;
              background: rgba(255, 255, 255, 0.28);
              border-radius: 16px;
              box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
              backdrop-filter: blur(3.7px);
              -webkit-backdrop-filter: blur(3.7px);
              border: 1px solid rgba(255, 255, 255, 0.3);
            }
          }
        }
      }
      .saurus {
        grid-row: 1/3;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1rem;
        border: 0.125rem solid var(--background-color-secondary);
        border-radius: 0.6rem;
        background: linear-gradient(
            rgba(186, 122, 60, 0.75),
            rgba(186, 122, 60, 0.75)
          ),
          url("../src/img/bento/brachiosaurus.webp");
        background-size: cover;

        .container-card-brachio {
          h3 {
            font-family: "Raleway", sans-serif;
            font-size: 2.5rem;
            margin-bottom: 1rem;
            color: var(--text-secondary);
          }

          p {
            font-family: "Open Sans", sans-serif;
            font-size: 1.21rem;
            color: var(--text-secondary);
            line-height: 1.4;

            opacity: 0;
            transition: 0.3s ease-in-out;
          }
        }

        .container-especie-2 {
          opacity: 0;
          display: flex;
          transition: 0.3s ease-in-out;

          span {
            font-family: "Roboto", sans-serif;
            color: var(--text-secondary);
            padding: 0.3rem 0.6rem;
            background: rgba(255, 255, 255, 0.28);
            border-radius: 16px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(3.7px);
            -webkit-backdrop-filter: blur(3.7px);
            border: 1px solid rgba(255, 255, 255, 0.3);
          }
        }

        &:hover {
          .container-card-brachio {
            p {
              opacity: 1;
            }
          }

          .container-especie-2 {
            opacity: 1;
          }
        }
      }
      .Trice {
        background: linear-gradient(
            rgba(156, 110, 98, 0.75),
            rgba(156, 110, 98, 0.75)
          ),
          url("../src/img/bento/triceratops.webp");
        background-size: cover;

        flex-direction: column;
        justify-content: space-between;
        padding: 1rem;
        border: 0.125rem solid var(--background-color-secondary-hover);
        border-radius: 0.6rem;

        .container-card-trice {
          h3 {
            font-family: "Raleway", sans-serif;
            font-size: 2.5rem;
            margin-bottom: 1rem;
            color: var(--text-secondary);
          }

          p {
            font-family: "Open Sans", sans-serif;
            font-size: 1.21rem;
            color: var(--text-secondary);
            line-height: 1.4;

            opacity: 0;
            transition: 0.3s ease-in-out;
          }
        }

        &:hover {
          .container-card-trice {
            p {
              opacity: 1;
            }
          }
        }
      }

      .tierra {
        background-color: #e7e4dd;
        flex-direction: column;
        justify-content: space-between;
        padding: 1rem;
        border: 0.125rem solid var(--background-color-primary);
        border-radius: 0.6rem;

        h3 {
          font-family: "Raleway", sans-serif;
          font-size: 2.5rem;
          margin-bottom: 1rem;
          color: var(--background-color-primary);
        }

        p {
          font-family: "Open Sans", sans-serif;
          font-size: 1.21rem;
          color: var(--background-color-primary);
          line-height: 1.4;
        }
      }

      .Velo {
        background: linear-gradient(
            rgba(49, 31, 87, 0.75),
            rgba(49, 31, 87, 0.75)
          ),
          url("../src/img/bento/velociraptor.webp");
        background-size: cover;

        flex-direction: column;
        justify-content: space-between;
        padding: 1rem;
        border: 0.125rem solid var(--text-3);
        border-radius: 0.6rem;

        .container-card-velo {
          h3 {
            font-family: "Raleway", sans-serif;
            font-size: 2.5rem;
            margin-bottom: 1rem;
            color: var(--text-secondary);
          }

          p {
            font-family: "Open Sans", sans-serif;
            font-size: 1.21rem;
            color: var(--text-secondary);
            line-height: 1.4;

            opacity: 0;
            transition: 0.3s ease-in-out;
          }
        }

        &:hover {
          .container-card-velo {
            p {
              opacity: 1;
            }
          }
        }
      }

      .Especie {
        background-color: #f2e2d5;
        flex-direction: column;
        justify-content: space-between;
        padding: 1rem;
        border: 0.125rem solid var(--background-color-secondary);
        border-radius: 0.6rem;

        .container-card-especie {
          h3 {
            font-family: "Raleway", sans-serif;
            font-size: 2.5rem;
            margin-bottom: 1rem;
            color: var(--background-color-secondary);
          }

          p {
            font-family: "Open Sans", sans-serif;
            font-size: 1.21rem;
            color: var(--background-color-secondary);
            line-height: 1.4;
          }
        }
      }

      .Stego {
        grid-column: 3/5;
        background: linear-gradient(
            rgba(244, 210, 200, 0.75),
            rgba(244, 210, 200, 0.75)
          ),
          url("../src/img/bento/stegosaurus.webp");
        background-size: cover;
        background-position: center;

        flex-direction: column;
        justify-content: space-between;
        padding: 1rem;
        border: 0.125rem solid var(--background-color-secondary-hover);
        border-radius: 0.6rem;

        .container-card-stego {
          h3 {
            font-family: "Raleway", sans-serif;
            font-size: 2.5rem;
            margin-bottom: 1rem;
            color: var(--text-secondary);
          }

          p {
            font-family: "Open Sans", sans-serif;
            font-size: 1.2rem;
            color: var(--text-2);
            line-height: 1.4;

            opacity: 0;
            transition: 0.3s ease-in-out;
          }
        }

        .container-especie-3 {
          display: flex;
          gap: 0.5rem;

          opacity: 0;
          transition: 0.3s ease-in-out;

          span {
            font-family: "Roboto", sans-serif;
            color: var(--text-secondary);
            padding: 0.3rem 0.6rem;
            background: rgba(255, 255, 255, 0.28);
            border-radius: 16px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(3.7px);
            -webkit-backdrop-filter: blur(3.7px);
            border: 1px solid rgba(255, 255, 255, 0.3);
          }
        }

        &:hover {
          .container-card-stego {
            p {
              opacity: 1;
            }
          }

          .container-especie-3 {
            opacity: 1;
          }
        }
      }
    }
  }
}

/* Section 2 móvil */

@media screen and (max-width: 430px) {
  .section-2 {
    .container-section-2 {
      .bento-grid {
        margin: 0;
        padding: 0;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, 1fr);

        > * {
          grid-column: auto !important;
          grid-row: auto !important;
        }

        .rex {
          grid-column: 1/1;
          grid-row: 1/2;
        }

        .saurus {
          grid-column: 1/-1;
          grid-row: 2/3;
        }
      }
    }
  }
}

@media screen and (min-width: 375px) and (max-width: 1023px) {
  .section-2 {
    .container-section-2 {
      width: 90%;
      margin: auto;
    }
  }
}

@media screen and (max-width: 374px) {
  .section-2 {
    .container-section-2 {
      width: 100%;
    }
  }
}

/* Section 2 tablet */

@media screen and (min-width: 431px) and (max-width: 1024px) {
  .section-2 {
    .container-section-2 {
      width: 80%;
      margin: auto;

      .bento-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);

        .rex {
          grid-column: 1/4;
          grid-row: 1/2;
        }

        .saurus {
          grid-column: 1/4;
          grid-row: 2/3;
        }
      }
    }
  }
}

/* Section 3 */

.section-3 {
  background-color: var(--background-white-secondary);

  .container {
    h2 {
      font-family: "Raleway", sans-serif;
    }

    p {
      font-family: "Open Sans", sans-serif;
      color: var(--text-3);
    }
  }
}

/* Section 4 */

.section-4 {
  background-color: var(--background-white-primary);

  .container {
    h2 {
      font-family: "Raleway", sans-serif;
    }

    .row {
      .col {
        .card {
          box-shadow: 0 5px 15px -4px var(--shadow);
          border: none;

          a {
            .hero-card {
              h3 {
                color: var(--text-primary);
              }

              svg {
                width: 2.5rem;
                height: 2.5rem;
                color: var(--background-color-primary);
                background-color: #edece1;
                border-radius: 7px;
              }
            }

            .fondo {
              svg {
                color: var(--background-color-secondary);
                background-color: #f0e8e4;
              }
            }

            p {
              font-family: "Open Sans", sans-serif;
              color: var(--text-3);
            }

            .link-explorar {
              span {
                color: var(--background-color-primary);
                text-decoration: none;
              }

              svg {
                color: var(--background-color-primary);
                transition: 0.3s ease-in-out;
              }
            }
          }

          &:hover {
            outline: 1px solid var(--background-color-primary);

            a {
              .link-explorar {
                svg {
                  transform: translateX(5px);
                }
              }
            }
          }
        }
      }
    }
  }
}

/* Section 5 */

.section-5 {
  background-color: var(--background-white-secondary);

  .container {
    h2 {
      font-family: "Raleway", sans-serif;
    }

    .row {
      .contenedor-card {
        .card {
          border: 1px solid #d9d5ce;
          box-shadow: 0 5px 15px -4px var(--shadow);

          .card-body {
            p {
              font-family: "Open Sans", sans-serif;
              color: var(--text-3);
            }
          }
        }
      }
    }
  }
}

/* footer */

footer {
  background-color: #ffffff;

  .container {
    .row {
      border-bottom: 1px solid #d9d5ce;
      .col-12 {
        p {
          color: var(--background-color-primary);
          font-family: "Open Sans", sans-serif;
        }

        small {
          color: var(--text-3);
          font-family: "Open Sans", sans-serif;
        }

        ul {
          li {
            a {
              color: var(--text-3);
              font-family: "Open Sans", sans-serif;

              &:hover {
                color: #2b2723;
              }
            }
          }
        }

        .redes {
          svg {
            width: 2.5rem;
            height: 2.5rem;
            background-color: var(--text-2);
            border-radius: 50%;
            transition: 0.3s ease-in-out;

            &:hover {
              background-color: var(--background-color-primary);
              color: #ffffff;
            }
          }
        }
      }
    }

    .d-flex {
      span {
        color: var(--text-3);
      }

      ul {
        gap: 1rem;

        li {
          a {
            color: var(--text-3);
            transition: 0.3s ease-in-out;

            &:hover {
              color: var(--background-color-primary);
            }
          }
        }
      }
    }
  }
}
